.e38_1045 { 
	width:1187px;
	height:600px;
	position:absolute;
}
.e38_1046 { 
	width:1187px;
	height:600px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/bg.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e108_326 { 
	width:899px;
	height:473px;
	position:absolute;
	left:266px;
	top:81px;
}
.e81_257 { 
	background-color:rgba(0, 0, 0, 0.6600000262260437);
	width:899px;
	height:473px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e81_265 { 
	color:rgba(255, 255, 255, 1);
	width:245px;
	height:46px;
	position:absolute;
	left:3px;
	top:426px;
	font-family:Poppins;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e81_264 { 
	width:285px;
	height:129px;
	position:absolute;
	left:578px;
	top:328px;
}
.e81_261 { 
	color:rgba(255, 255, 255, 1);
	width:167px;
	height:24px;
	position:absolute;
	left:0px;
	top:70px;
	font-family:Poppins;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e81_262 { 
	background-color:rgba(20.718730241060257, 0, 79.6875, 1);
	width:94px;
	height:94px;
	position:absolute;
	left:189px;
	top:35px;
}
.e81_263 { 
	color:rgba(255, 255, 255, 1);
	width:171px;
	height:24px;
	position:absolute;
	left:114px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e81_269 { 
	width:325px;
	height:59px;
	position:absolute;
	left:248px;
	top:214px;
}
.e81_268 { 
	color:rgba(255, 255, 255, 1);
	width:40px;
	height:21px;
	position:absolute;
	left:285px;
	top:32px;
	font-family:Poppins;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e81_267 { 
	color:rgba(255, 255, 255, 1);
	width:262px;
	height:36px;
	position:absolute;
	left:0px;
	top:23px;
	font-family:Poppins;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e81_266 { 
	color:rgba(255, 255, 255, 1);
	width:149px;
	height:23px;
	position:absolute;
	left:56px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e81_258 { 
	width:557px;
	height:25px;
	position:absolute;
	left:19px;
	top:93px;
}
.e81_260 { 
	color:rgba(255, 255, 255, 1);
	width:273px;
	height:24px;
	position:absolute;
	left:284px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e81_254 { 
	width:48px;
	height:18.3157901763916px;
	position:absolute;
	left:177px;
	top:4px;
}
.e81_255 { 
	background-color:rgba(76.50000303983688, 74.58750486373901, 74.58750486373901, 1);
	width:48px;
	height:18.3157901763916px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:114px;
	border-top-right-radius:114px;
	border-bottom-left-radius:114px;
	border-bottom-right-radius:114px;
}
.e81_256 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:14.15999984741211px;
	height:14.408421516418457px;
	position:absolute;
	left:3.60009765625px;
	top:1.953689694404602px;
}
.e81_253 { 
	color:rgba(255, 255, 255, 1);
	width:165px;
	height:24px;
	position:absolute;
	left:0px;
	top:1px;
	font-family:Poppins;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e81_259 { 
	color:rgba(255, 255, 255, 1);
	width:84px;
	height:30px;
	position:absolute;
	left:408px;
	top:3px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e79_251 { 
	color:rgba(255, 255, 255, 1);
	width:313px;
	height:56px;
	position:absolute;
	left:247px;
	top:-1px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e38_1047 { 
	box-shadow:10.347240447998047px 11.496933937072754px 72.43067932128906px rgba(0, 0, 0, 0.23999999463558197);
	background-color:rgba(46.000001057982445, 46.000001057982445, 72.00000330805779, 0.6000000238418579);
	width:272px;
	height:600px;
	position:absolute;
	left:-39px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e38_1048 { 
	width:198px;
	height:170px;
	position:absolute;
	left:57px;
	top:419px;
}
.e38_1049 { 
	width:71px;
	height:170px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e38_1050 { 
	box-shadow:0px 5px 5px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:127px;
	height:18px;
	position:absolute;
	left:71px;
	top:119px;
	font-family:Poppins;
	text-align:left;
	font-size:13.87006664276123px;
	letter-spacing:0;
}
.e59_221 { 
	background-image:linear-gradient(90deg, rgba(4.481625817716122, 2.018749974668026, 8.500000443309546, 1) 0%,rgba(0, 0, 0, 0) 100%) ;
	width:233px;
	height:46px;
	position:absolute;
	left:39px;
	top:354px;
}
.e53_77 { 
	width:232px;
	height:302px;
	position:absolute;
	left:39px;
	top:98px;
}
.ei53_77_34_106 { 
	width:232px;
	height:46px;
	position:absolute;
	left:0px;
	top:256px;
}
.ei53_77_34_107 { 
	color:rgba(255, 255, 255, 1);
	width:71px;
	height:21px;
	position:absolute;
	left:47px;
	top:13px;
	font-family:Poppins;
	text-align:left;
	font-size:13.87006664276123px;
	letter-spacing:0;
}
.ei53_77_120_1748 { 
	width:19px;
	height:19px;
	position:absolute;
	left:7px;
	top:14px;
	background-image:url(images/settings.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei53_77_34_95 { 
	width:232px;
	height:46px;
	position:absolute;
	left:0px;
	top:192px;
}
.ei53_77_34_96 { 
	color:rgba(255, 255, 255, 1);
	width:71.66200256347656px;
	height:20.805099487304688px;
	position:absolute;
	left:49.4456787109375px;
	top:13px;
	font-family:Poppins;
	text-align:left;
	font-size:13.87006664276123px;
	letter-spacing:0;
}
.ei53_77_120_1075 { 
	width:18px;
	height:19px;
	position:absolute;
	left:7px;
	top:13px;
	background-image:url(images/money.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei53_77_34_101 { 
	width:232px;
	height:46px;
	position:absolute;
	left:0px;
	top:128px;
}
.ei53_77_34_102 { 
	color:rgba(255, 255, 255, 1);
	width:123px;
	height:21px;
	position:absolute;
	left:49.4456787109375px;
	top:13px;
	font-family:Poppins;
	text-align:left;
	font-size:13.87006664276123px;
	letter-spacing:0;
}
.ei53_77_34_103 { 
	width:21px;
	height:21px;
	position:absolute;
	left:6px;
	top:13px;
}
.ei53_77_38_741 { 
	width:21px;
	height:21px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
	background-image:url(images/np_img.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei53_77_34_84 { 
	width:232px;
	height:46px;
	position:absolute;
	left:0px;
	top:64px;
}
.ei53_77_34_85 { 
	color:rgba(255, 255, 255, 1);
	width:109px;
	height:21px;
	position:absolute;
	left:49.2252197265625px;
	top:13px;
	font-family:Poppins;
	text-align:left;
	font-size:13.87006664276123px;
	letter-spacing:0;
}
.ei53_77_120_891 { 
	width:19px;
	height:19px;
	position:absolute;
	left:7px;
	top:13px;
	background-image:url(images/server.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei53_77_34_79 { 
	width:232px;
	height:46px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei53_77_34_80 { 
	color:rgba(255, 255, 255, 1);
	width:79px;
	height:21px;
	position:absolute;
	left:49.4456787109375px;
	top:13px;
	font-family:Poppins;
	text-align:left;
	font-size:13.87006664276123px;
	letter-spacing:0;
}
.ei53_77_120_414 { 
	width:18px;
	height:18px;
	position:absolute;
	left:7px;
	top:14px;
	background-image:url(images/dashboard.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e38_1080 { 
	background-color:rgba(255, 255, 255, 0.6299999952316284);
	width:233px;
	height:1px;
	position:absolute;
	left:39px;
	top:74px;
}
.e56_154 { 
	width:153px;
	height:58px;
	position:absolute;
	left:79px;
	top:4px;
}
.ei56_154_3_15 { 
	color:rgba(255, 255, 255, 1);
	width:153px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Italianno;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.e53_208 { 
	width:27px;
	height:28px;
	position:absolute;
	left:1151px;
	top:9px;
}
.ei53_208_33_66 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:27px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/close.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e53_210 { 
	width:27px;
	height:28px;
	position:absolute;
	left:1113px;
	top:9px;
}
.ei53_210_33_65 { 
	width:27px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/min.png);
	background-repeat:no-repeat;
	background-size:cover;
}
